body {
    background-color: whitesmoke;
    color: #666666;
    font-family: 'Hind Siliguri', sans-serif;
}

.main {
    background-color: whitesmoke;
    color: #666666;
}
/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
  }

  a {
    color: whitesmoke;
    text-decoration: none;
    
  }
  a:hover {
    color: #0161C6;
  }
  
ul {
  margin: 20;
  padding: auto;
}
.list-group-item a {
  color: #444444;
}
.list-group-item a:hover {
  color: #0161C6;
}
.card-body {
  color: #444444;
}
.card-body a:hover {
  color: #0161C6;
}

.image-blurred-edge {

  width: 200px;
  height: 200px;
  /* you need to match the shadow color to your background or image border for the desired effect*/
  box-shadow: 0 0 8px 8px white inset;
}

.icon-blue {
  color: #e0ca3c;
}

hr {
  color: #e0ca3c;
}

.inline li{
  display:inline;
}
.front {
  background-image: url(public/img/12082017-DSC00219-stretch.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}

.text-muted{
  color:#0161C6;
}

.site-header {
  background-image: linear-gradient(to bottom, #444444, rgba(255,0,0,0));
}

.project {
  padding-top: 1em;
  padding-bottom: 1em;
  background: #666666 ;
}
.box {
  opacity: 0.8;
  color:whitesmoke;
}

.responsive {
  width: 100%;
  height: auto;
  max-width: 500px;
}