<div class="position-relative overflow-hidden text-center front">

    <div class="col-md-5 p-lg-5 mx-auto my-5" style="height: 800px;;width: 100%;">
        <!-- <div class="box mx-auto" style="height: 200px;;width: 100%;"> -->
            <!-- <h1 class="display-2 fw-normal">Guillermo Dean</h1>
            <p class="lead"><em>- Pura vida -</em></p> -->
            <img class="logo" src="/img/Guillermo__2_-removebg-preview.png" alt="logo" style="height:700px;width: auto;">
        <!-- </div> -->
    </div>
</div>

<hr class="featurette-divider" id="Work-experiences">

<div class="text-center flex-column">
    <h1 class="text-center">
        <p><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                class="bi bi-tools icon-blue" viewBox="0 0 16 16">
                <path
                    d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z" />
            </svg> Work experiences <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                class="bi bi-tools icon-blue" viewBox="0 0 16 16">
                <path
                    d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z" />
            </svg>
        </p>
    </h1>
</div>

<hr class="featurette-divider">

<div class="row  p-lg-5">
    <div class="col-md-9 order-md-2 text-center text-md-center overflow-hidden position-relative p-3 p-md-6">
        <h3>Data processing for Gorosti society. <span class="text-muted">Sociedad Gorosti. (2010-2012)
            </span></h3>
        <p class="lead m-3 pb-3  text-start">
            First experience related to computer science, what I basicaly did was developing functions of
            information analysis, search and correction of
            incorrect data, creation of databases and data uploading.
            <br>
            <br>
            This Mechanical job that provide me the DDBB knowledge I will continue using during the following
            years.
            <br>
            <br>
            In the personal aspect this jobs I did for SCN Gorosti also got me to realize that mechanical and
            repetitive tasks could and should be automated.
            In the following years I will always look to avoid repetitive task if they can be automated and made
            this the late motiv of my work.
        </p>
    </div>
    <div class="col-md-3  p-3 p-md-6 d-flex text-center align-items-center justify-content-center">
        <a href="https://sites.google.com/view/gorosti/la-sociedad">
            <img src="/img/gorosti_con_textos_resize.gif" class="responsive" alt="Gorosti">
        </a>
    </div>
</div>

<hr class="featurette-divider">

<div class="row  p-lg-5">
    <div class="col-md-9  text-center text-md-center overflow-hidden position-relative p-3 p-md-6">
        <h3>Final degree proyect <span class="text-muted"> VISCOFAN S.A. (2014)
            </span> </h3>
        <p class="lead m-3 pb-3  text-start">
            This <a href="http://academica-e.unavarra.es/handle/2454/13185">project</a> wass drawn up in order
            to
            provide solutions regarding the improvement of energy efficiency of the Cáseda de Viscofan S.A.,
            <br>
            <br>
            Improvements in lighting will be analyzed and proposed, focusing on the most conflictive points.
        </p>
    </div>
    <div class="col-md-3  p-3 p-md-6 d-flex align-items-center justify-content-center">
        <a href="https://www.isri.com/">
            <img src="/img/viscofan.png" class="responsive" alt="ISRI">
        </a>
    </div>
</div>

<hr class="featurette-divider">

<div class="row  p-lg-5">
    <div class="col-md-9 order-md-2 text-center text-md-center overflow-hidden position-relative p-3 p-md-6">
        <h3>Quality control technician. <span class="text-muted"> Wisco Española, S.A (2014-2015)
            </span> </h3>
        <p class="lead m-3 pb-3  text-start">
            Once I finished my industrial engineering degree, I found my first career opportunity as an
            escholarship
            engineer on the local job board.
            I learned both to work in an office and in a productive plant, to be rigorous at work and justify my
            opinions and decisions with data.
            <br>
            Hard skills learned during this year:
        <ul class="col-md-3 text-start mx-auto">
            <li>
                <p class="lead">Production quality control</p>
            </li>
            <li>
                <p class="lead">Metrology</p>
            </li>
            <li>
                <p class="lead">Chemical and mechanical tests and regulations</p>
            </li>
            <li>
                <p class="lead">Parts machining.</p>
            </li>
            <li>
                <p class="lead">Claim management and customer service.</p>
            </li>
        </ul>
        </p>
    </div>
    <div class="col-md-3  p-3 p-md-6 d-flex align-items-center justify-content-center">
        <a href="https://www.wisco.es/">
            <img src="/img/Wisco.png" class="responsive" alt="WISCO">
        </a>
    </div>
</div>

<hr class="featurette-divider">

<div class="row  p-lg-5">
    <div class="col-md-9  text-center text-md-center overflow-hidden position-relative p-3 p-md-6">
        <h3>Quality Management Assistant. <span class="text-muted"> Wisco Española, S.A (2015-2016)
            </span> </h3>
        <p class="lead m-3 pb-3  text-start">
            I finished my escholarship and I continued to work at Wisco with added responsabilities.
            I was in charge of restarting the laboratory work. Getting in contact with CAM machine, and tensile
            testing machine parts.
            <br>
            <br>
            Getting training and developing the machining program. All the documentation required (PFEMEA,
            control
            guidelines, generation of reports and records) for the project was drawn up and registered in the
            system
            until it was possible to manufacture and test approved parts.
            <br>
            <br>
            I also spent part of my time creating a document where NC reports that had to be reviewed by
            management
            were listed and could be easily analyzed.
        </p>
    </div>
    <div class="col-md-3  p-3 p-md-6 d-flex align-items-center justify-content-center">
        <a href="https://www.wisco.es/">
            <img src="/img/Wisco.png" class="responsive" alt="WISCO">
        </a>
    </div>
</div>

<hr class="featurette-divider">

<div class="row  p-lg-5">
    <div class="col-md-9 order-md-2 text-center text-md-center overflow-hidden position-relative p-3 p-md-6">
        <h3>Quality engineer. <span class="text-muted"> ISRINGHAUSEN S.L.U. (2016 - 2022)
            </span> </h3>
        <p class="lead m-3 pb-3 text-start">
            Landing a job at ISRI was an unespected opportunity. The team I had the privilege of helping was
            tasked
            with relocating a whole plant production to another site.
            <br>
            We helped carry out the top-to-bottom new porcesses, new work instructions, tool purchasing,
            redefining
            the
            quality standards meanwhile production line by production line were landing in Pamplona.
            We launched new trazeability systems and updated old productive systems reducing paper waste.
            It was not just a relocation.
            <br>
            <br>
            The work increased and new colleagues joined our team, in fact, by now we are working more than
            twice
            the people we were at the beggining.
            As a member of the relocation team my priorities were:
        </p>
        <br>
        <br>
        <ul class="col-md-3 text-start mx-auto">
            <li>
                <p class="lead">
                    Quality/Process project management.
                </p>
            </li>
            <li>
                <p class="lead">
                    Product quality management.
                </p>
            </li>
            <li>
                <p class="lead">
                    Customer service management.
                </p>

            </li>
        </ul>
        <br>
        <br>
        <p class="lead m-3 pb-3 text-start">
            In 2019 another big project came and I was again lucky to take part on it with one of the initial
            members of this adventure.
            We involved ourselves in the new product to be industrialized and deployed at plant ISRINGHAUSEN
            MADRID.
            A completly different production system (JIT) had to be revisited and adapted to the new product.
            <br>
            We went through hard times just after SOP but at the end we achieved what we had planned with very
            good
            results in the present.
            <br>
            <br>
            Apart from this role in the project I spent two months in 2020 as Interim Quality/Process manager at
            ISRI S.A. (Madrid)
        </p>
        <p class="lead m-3 pb-3 text-start">
            Last but not least, over the four years I was able to promote, coach, and launch the development of
            many
            ISRI custom aplications.
            We started from scratch and an idea to improve the product quality data handling.
            <br>
            Now we are working on a multi-platform solution that collects, stores, process and displays all data
            from a productive line.
            As a team we now use an agile metodology, we launched our own development,database and CI/CD servers
            and
            we have deployed our apps in three group facilities.
        </p>
    </div>
    <div class="col-md-3  p-3 p-md-6 d-flex align-items-center justify-content-center">
        <a href="https://www.isri.com/">
            <img src="/img/isri.png" class="responsive" alt="ISRI">
        </a>
    </div>
</div>

<hr class="featurette-divider">

<div class="row  p-lg-5">
    <div class="col-md-9 order-md-2 text-center text-md-center overflow-hidden position-relative p-3 p-md-6">
        <h3>PM change management <span class="text-muted"> Nordex Acciona Windpower (2022 - Today)
            </span> </h3>
        <p class="lead m-3 pb-3 text-start">
            New project, new challenges.
            <br>
            I am currently working as a change management engineer for the PM department at Nordex Acciona.
            <br>
            <br>
            My main responsabilities are:
            Coordination of the global change committee ensuring the best implementation plan.
            <br>
            Coordination of changes in a multi-plant environment and also for PM/EPC changes.
            <br>
            Communicate and ensure that the change notes reported from each global function are transferred and
            implemented by the PBOM configuration area in PLM.
            <br>
            Ensure that the change notes are correctly implemented in the PBOM configuration area.
            <br>

            Lead the implementation project in the different productive areas and participate in the change management
            committees.
            <br>
            <br>
            I am looking forward to learn and grow with this new opportunity.

        </p>

        <br>
        <br>
    </div>
    <div class="col-md-3  p-3 p-md-6 d-flex align-items-center justify-content-center">
        <a href="https://www.nordex-online.com/">
            <img src="/img/NXAW.jpg" class="responsive" alt="ISRI">
        </a>
    </div>
</div>

<hr id="Projects" class="featurette-divider">

<div class="text-center flex-column">
    <h1 class="text-center">
        <p>
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                class="bi bi-briefcase-fill icon-blue" viewBox="0 0 16 16">
                <path
                    d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z" />
                <path
                    d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z" />
            </svg>
            <path
                d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z" />
            </svg> Projects
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                class="bi bi-briefcase-fill icon-blue" viewBox="0 0 16 16">
                <path
                    d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z" />
                <path
                    d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z" />
            </svg>
        </p>
    </h1>
</div>

<hr class="featurette-divider">

<div class="row flex project p-lg-5">
    <div class="col-md-4 p-1">
        <div class="card">
            <img class="card-img-top" src="/img/fondomega_2.jpg" alt="Card image cap">
            <div class="card-body text-center">
                <h2 class="card-title text-center">Megalitos Navarra</h5>
                    <p class="lead">Web application of the SCN Gorosti developed for the dissemination of the
                        collected material related to the megalithic sites of Navarra.
                    </p>
                    <a href="https://megalitos-production.up.railway.app/" class="btn btn-a text-center">Discover</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 p-1">
        <div class="card">
            <img class="card-img-top" src="/img/eenavarra.jpg" alt="Megalitos">
            <div class="card-body text-center">
                <h2 class="card-title text-center">Eficiencia energetica Navarra blog</h5>
                    <p class="lead">Information blog on energy efficiency and renewable energies.
                    </p>
                    <a href="http://eenavarra.blogspot.com/" class="btn btn-a ">Discover</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 p-1">
        <div class="card">
            <img class="card-img-top" src="/img/ceviene.jpg" alt="Card image cap">
            <div class="card-body text-center">
                <h2 class="card-title text-center">Se vienen cositas</h5>
                    <p class="lead">Future projects are coming up soon.</p>
                    <a href="https://github.com/guillermodean/ZH_Frontend" class="btn btn-a ">Discover</a>
            </div>
        </div>
    </div>
</div>

<hr id="sideline" class="featurette-divider">

<div class="text-center flex-column">
    <h1 class="text-center" id="Projects">
        <p>
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                class="bi bi-emoji-laughing-fill icon-blue" viewBox="0 0 16 16">
                <path
                    d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5c0 .501-.164.396-.415.235C6.42 6.629 6.218 6.5 6 6.5c-.218 0-.42.13-.585.235C5.164 6.896 5 7 5 6.5 5 5.672 5.448 5 6 5s1 .672 1 1.5zm5.331 3a1 1 0 0 1 0 1A4.998 4.998 0 0 1 8 13a4.998 4.998 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5zm-1.746-2.765C10.42 6.629 10.218 6.5 10 6.5c-.218 0-.42.13-.585.235C9.164 6.896 9 7 9 6.5c0-.828.448-1.5 1-1.5s1 .672 1 1.5c0 .501-.164.396-.415.235z" />
            </svg>
            <path
                d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z" />
            </svg> With passion
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                class="bi bi-emoji-laughing-fill icon-blue" viewBox="0 0 16 16">
                <path
                    d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5c0 .501-.164.396-.415.235C6.42 6.629 6.218 6.5 6 6.5c-.218 0-.42.13-.585.235C5.164 6.896 5 7 5 6.5 5 5.672 5.448 5 6 5s1 .672 1 1.5zm5.331 3a1 1 0 0 1 0 1A4.998 4.998 0 0 1 8 13a4.998 4.998 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5zm-1.746-2.765C10.42 6.629 10.218 6.5 10 6.5c-.218 0-.42.13-.585.235C9.164 6.896 9 7 9 6.5c0-.828.448-1.5 1-1.5s1 .672 1 1.5c0 .501-.164.396-.415.235z" />
            </svg>
        </p>
    </h1>
</div>

<hr class="featurette-divider ">

<div class="row justify-content-center flex-row p-lg-5">
    <div class="col-md-5 feature  text-center text-md-center overflow-hidden position-relative p-3 m-4 box-shadow">
        <h2 class="featurette-heading m-2">Handball
        </h2>
        <img src="/img/RAC_3622.jpg" alt="Postu2" class="responsive p-4">
        <p class="lead">Handball player since I was 11 years old. I have been playing in different categories in
            <a href="https://balonmanohuarte.com/">BMHuarte</a> and <a href="https://anaitasuna.com/">Anaitasuna</a>
            teams.
        </p>
    </div>
    <div class="col-md-5 feature  text-center text-md-center overflow-hidden position-relative p-3 m-4 box-shadow">
        <h2 class="featurette-heading m-2">Scuba diving
        </h2>
        <img src="/img/12082017-DSC00304.jpg" alt="Postu2" class="responsive p-4">
        <p class="lead">Advanced open water diver. Diving all around the globe and in the cantabric sea with <a
                href="https://www.buceomistral.com/web/">Buceo Mistral</a> since 2001. In the last years also
            with many friends joining this
            adventure.</p>
    </div>
</div>


<hr id="Cuadrilla" class="featurette-divider">

<div class="text-center flex-column">
    <h1 class="text-center" id="Projects">
        <p>
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                class="bi bi-people-fill icon-blue" viewBox="0 0 16 16">
                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                <path fill-rule="evenodd"
                    d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
                <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
            </svg>
            <path
                d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z" />
            </svg> Family and Friends
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                class="bi bi-people-fill icon-blue" viewBox="0 0 16 16">
                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                <path fill-rule="evenodd"
                    d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
                <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
            </svg>
        </p>
    </h1>
</div>

<hr class="featurette-divider-mosaic">


<div class="row featurette-mosaic justify-content-evenly flex-row p-lg-5">
    <div class="col-md-2 fco text-center text-md-center overflow-hidden position-relative p-3 m-4 hover01">
        <a href="https://faroasesoria.com/">
            <figure><img src="/img/Logo-sin-fondo-300x159.png" alt="Faro"></figure>
        </a>
        <span class="lead-2">Energy consultancy founded by my friend Diego Montesino.</span>
    </div>
    <div class="col-md-2 fco text-center text-md-center overflow-hidden position-relative p-3 m-4 hover01">
        <a href="https://oftal20.com/">
            <figure> <img src="/img/oftal.jpg" alt="oftal20"></figure>
        </a>
        <span class="lead-2">Oftal20 is a question competition for ophthalmology professionals launched by my
            friend Pablo
            Plaza.</span>
    </div>
    <div class="col-md-2 fco text-center text-md-center overflow-hidden position-relative p-3 m-4 hover01">
        <a href="https://www.amazon.es/Universidad-P%C3%BAblica-Navarra-Nafarroako-Unibertsitate/dp/8497692896">
            <figure><img src="/img/WhatsApp Image 2021-09-16 at 17.59.20.jpeg" alt="Gon"></figure>
        </a>
        <span class="lead-2"> Book with relevant information to help identify the species that inhabit the UPNA
            campus
            whose author is my brother Gonzalo Dean.</span>
    </div>
    <div class="col-md-2 fco text-center text-md-center overflow-hidden position-relative p-3 m-4 hover01">
        <a href="https://www.cnmindfulness.es/">
            <figure><img src="/img/WhatsApp Image 2021-09-17 at 21.10.32.jpeg" alt="indra"></figure>
        </a>
        <span class="lead-2">The Navarre Center for Mindfulness is a space created with the aim of providing the
            theory and
            practice of mindfulness and other areas of Psychology.</span>
    </div>
</div>



<div class="row p-lg-5">
    <div class="col-md-7 text-center text-md-center overflow-hidden position-relative overflow-hidden  p-3 p-md-6">
        <h2 class="featurette-heading">Social Media. <span class="text-muted">It’ll not blow your
                mind.</span></h2>
        <p class="lead">Some great accounts where you can find me not beeing professional, except for Linkedin.
        </p>
        <div class="container-fluid">
            <a href="https://www.facebook.com/gwillidean/" class="fa fa-facebook m-2"></a>
            <a href="https://twitter.com/gramenhauer" class="fa fa-twitter m-2"></a>
            <a href="https://www.instagram.com/will.j.dean/" class="fa fa-instagram m-2"></a>
            <a href="https://www.linkedin.com/in/guillermo-de%C3%A1n-683b9293" class="fa fa-linkedin m-2"></a>
        </div>
    </div>
    <div class="col-md-5  p-3 p-md-6">
        <img src="/img/IMG_20200719_181633_2.jpg" alt="Postu1" class="responsive">
    </div>
</div>